/* Custom Updates*/
/* Header 
===============================================*/
img{max-width: 100%;}
iframe{
    border:0;
}
.panel-search-wrap {
    visibility: hidden;
    position: absolute;
    top: 55px;
    width: 100%;
    padding: 0px;
    
    .transition( top 0.4s ease,visibility 0.3s ease;);

    @media(min-width: @grid-float-breakpoint) {
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        visibility: visible;
        width: 66.66666667%;
    }
    .panel-search {
        width: 100%;
        left: 0px;
        @media(min-width: @grid-float-breakpoint) {
            margin-bottom: 0px;
        }
        form {
            position: relative;
            .form-control {
                border-radius: 0px;
                border: none;
                width: 100%;
                background-color: @grey;
                @media(min-width: @grid-float-breakpoint) {
                    border: 1px solid darken(@grey, 50%);
                    position: relative;
                    top: 0px;
                    border-radius: 35px;
                }
            }
            .button--green {
                position: absolute;
                top: 5px;
                height: 44px;
                width: 44px;
                color: #fff;
                font-size: 24px;
                right: 2.2%;
                @media(min-width: @grid-float-breakpoint) {
                    right: 5px;
                }
            }
        }
    }
    &.active {
        visibility: visible;
       .transition( top 0.4s ease,visibility 0.3s ease;);
        top:108px;
    }
}
.panel-logo {
    text-align: center;
    background-color: @green;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 9px;
    @media (min-width: @grid-float-breakpoint) {
        background-color: none;
        text-align: left;
        margin-bottom: 30px;
        background-color: transparent;
    }
    img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.panel-lang-list {
    margin: 15px 0;
    li {
        line-height: 1.2em;
        a {
            color: @green-dirty;
            font-size: 16px;
        }
    }
    li:nth-of-type(1) {
        border-right: 1px solid @green-dirty;
        padding-right: 9px;
    }
}
.panel-access-wrapper {
    border-bottom: 1px solid @green;
    background-color: #fff;
    margin-right: 30px;
    margin-left: 30px;
    @media (min-width: @grid-float-breakpoint) {
        margin: 0px;
        border-top: 1px solid @green;
        border-right: 1px solid @green;
    }
    .panels-access {
        color: #999999;
        border-left: 1px solid @green;
        padding-top: 10px;
        @media (max-width: @grid-float-breakpoint) {
            border-top: 1px solid @green;
            border-right: 1px solid @green;
        }
        @media (min-width: @grid-float-breakpoint) {
            min-height: 50px;
        }
        span {
            font-size: 16px;
            line-height: 0.9em!important;
            text-transform: uppercase!important;
            display: inline-block;
            @media(min-width: 992px) and (max-width: @screen-lg) {
                font-size: 12px;
                line-height: 1.1em!important;
            }
        }
    }
}
.panel-access-wrapper--navigation {
    float: left;
    position: absolute;
    top: 200%;
    left: 0;
    z-index: 2000;
    width: 100%;
    display: none;
}
.icon {
    padding-left: 47px;
    margin-left: 10px;
    height: 32px;
    @media(min-width: @grid-float-breakpoint) and (max-width: @screen-lg) {
        padding-top: 2px;
    }
    br {
        display: none;
        @media (min-width: @grid-float-breakpoint) {
            display: block;
        }
    }
}
.icon-scale {
    background: url(/images/icon-scale.png) no-repeat 8px 1px;
}
.icon-users {
    background: url(/images/icon-users.png) no-repeat 0 0;
    @media (min-width: @grid-float-breakpoint) {
        padding-left: 45px;
        margin-left: 5px;
    }
}
.icon-tube {
    background-image: url(/images/icon-tube.png);
    background-repeat: no-repeat;
    background-position: 5px 0;
    @media (min-width: @grid-float-breakpoint) {
        padding-left: 44px;
        background-position: 10px 0;
    }
}
.icon-watch {
    background-image: url(/images/icon-watch.png);
    background-repeat: no-repeat;
    background-position: 4px -2px;
    @media (min-width: @grid-float-breakpoint) {
        padding-left: 55px;
        padding-right: 10px;
        background-position: 22px -2px;
    }
}
.icon-tick {
    background-image: url(/images/icon-tick.png);
    background-position: 5px 0;
    background-repeat: no-repeat;
    @media (min-width: @grid-float-breakpoint) {
        padding-left: 80px;
        padding-right: 24px;
        background-position: 45px 0;
    }
}

/* Navigation 
===============================================*/

.nav-large {
    margin: 0px;
    padding: 0px;
    li {
        margin: 0px;
        padding: 0px;
    }
}
.navbar-default {
    border: none!important;
    border-top: 1px solid #aae5b3!important;
    box-shadow: none!important;

    @media (min-width: @grid-float-breakpoint) {
        border:none!important;
    }
}
.navbar-collapse {
    @media (min-width: @grid-float-breakpoint) {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.nav {
    li.dropdown {
        border-bottom: 1px solid @green;

        @media (min-width: @grid-float-breakpoint) {
            border-bottom: none;
        }
        > a {
            background-color: transparent;
            font-weight: 500;
            color: #022222;
            @media (min-width: @grid-float-breakpoint) {
                background-color: @grey;
            }
        }
        &:hover {
            > a {
                @media (min-width: @grid-float-breakpoint) {
                    background-color: @green-dark;
                    color: #fff;
                }
            }
        }
    }
    a {
        font-size: 19px;
    }
    .dropdown-menu {
        border: none;
        border-radius: 0;
        .box-shadow( inset -1px 0 12px #666);
        padding-left: 0px;
        @media (min-width: @grid-float-breakpoint) {
            padding-left: 20px;
            background-color: @green-dark;
            box-shadow: none;
        }
        > a {
            color: #fff!important;
        }
    }
    .open {
        .dropdown-menu {
            background-color: #fff;
            color: #000;
            @media (min-width: @grid-float-breakpoint) {
                background-color: @green!important;
            }
            z-index: 10;
        }
        .dropdown-menu-large {
            background-color: #F5F5F5!important;
        }
    }
}
.navbar-right {
    background-color: @grey;
    height: 50px;
    padding: 15px 10px 15px 0;
    text-align: center;
    margin-top: 20px;
    @media(min-width: @grid-float-breakpoint) {
        margin-right: 20px;
        text-align: left;
        margin-top: 0px;
    }
    li {
        padding-left: 10px;
        a {
            color: #022222!important;
            padding: 0px;
            &:hover {
                color: @green!important;
                text-decoration: underline;
            }
        }
        .glyphicon {
            color: @green;
            font-size: 20px;
            float: right;
            margin-left: 6px;
            margin-top: -1px;
        }
    }
    .nav-right {
        display: inline-block;
        a {
            display: inline-block;
        }
    }
    li:nth-of-type(1) {
        border-right: 1px solid @grey-dark;
        padding-right: 10px;
    }
}
.dropdown-menu-large {
    background-color: #f5f5f5!important;
}
.dropdown-submenu {
    border-top: 1px solid lighten(@green, 20%);
    text-align: center;
    @media(min-width: @grid-float-breakpoint) {
        margin-bottom: 0px;
        border-top: none;
        text-align: left;
        line-height: 1.3em;
        text-align: left;
    }
    > a {
        line-height: 2.3em!important;
        color: #000!important;
        @media(min-width: @grid-float-breakpoint) {
            line-height: 1.3em!important;
            color: #fff!important;
        }
    }
    &:hover {
        background-color: @green-med!important;
        color: #fff!;
        > a {
            color: #fff!important;
            &:before {

                @media(min-width:@grid-float-breakpoint){
                    position: absolute;
                    content: " ";
                    .triangle();
                    left: 50%;
                    margin-left: -15px;
                    bottom: 0px;
                    bottom: -12px;
                    z-index: 1100;
                }
            }
        }
    }
}
.nav-panels {
    margin-bottom: 30px;
    cursor: pointer;
    h4 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 3px;
        position: relative;
        padding-bottom: 5px;
        .transition(all 0.3s ease-in-out);
        &:after {
            position: absolute;
            .transition(all 0.2s ease-in-out);
            width: 0%;
            height: 2px;
            background-color: transparent;
            content: '';
            left: 50%;
            bottom: 0px;
        }
    }
    p {
        font-size: 16px;
        margin-bottom: 3px;
    }
    a {
        display: block;
        color: @green!important;
        font-size: 16px;
        margin-bottom: 3px;
    }
    &:hover {
        //background-color: lighten(@grey, 10%);
        h4 {
            color: @green-med;
            &:after {
                background-color: @green-med;
                width: 100%;
                left: 0%;
                content: '';
            }
        }
    }
}
.nav-featured-review {
    background-color: #ebebeb;
    padding: 20px 17px 15px;
    margin-top: 5px;
    h3 {
        margin: 0px;
        font-weight: bold;
        font-size: 22px;
    }
    .featured-product-title {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 0px;
    }
    .featured-product-author {
        font-size: 16px;
    }
    .nav-featured-row {
        margin-bottom: 10px;
    }
    button.button--cta {
        margin-top: 10px;
    }
}
.nav-submenu-list-title {
    font-weight: bold;
    color: @green-med;
}
.nav-submenu-list {
    list-style-type: none;
    padding-left: 0px;
    li {
        margin-bottom: 5px;
        a {
            color: #000!important;
            &:hover {
                color: @green-med!important;
                text-decoration: underline;
            }
        }
    }
}
.nav-submenu-list--no-title {
    margin: 42px 0 20px!important;
}
/* Navbar Off Canvas - for Mobile
===============================================*/
.fullwidth-container {
    position: relative;
    left: 0px;
    .transition( left 0.4s ease 0s);

    @media(max-width:@grid-float-breakpoint){
        overflow-x: hidden;
    }

}
.off-canvas-nav {
    left: -80%;
    top: 0px;
    position: fixed;
    display: block;
    visibility: visible;
    .transition( left 0.4s ease 0s);
    width: 200px;
    z-index: 9999;
    width: 80%;
    height: 100%!important;
    .navbar {
        height: 100%;
        border: none;
    }
    .caret {
        display: none;
    }
    .canvas-nav {
        height: 100%;
        .right-shadow();
        border-top: 0px;
    }
    .dropdown-menu {
        position: absolute!important;
        left: -100%;
        width: 100%!important;
        top: 52px;
        .transition(left 0.4s ease-in-out, box-shadow 0s ease-in-out 0.5s;
        );
        display: block;
    }
    .dropdown {
        position: relative!important;
        margin-bottom: 0px!important;
        .dropdown-toggle {
            .transition(all 0.3s ease-in-out);
            &:after {
                content: '';
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -13px;
                background: url(/images/icon-right.png) no-repeat 0 0;
                width: 15px;
                height: 26px;
                .transition(all 0.3s ease-in-out);
            }
        }
    }
    .dropdown.open {
        > a {
            background: #ebebeb;
            .box-shadow( inset -1px 0 12px #666);
            color: #000;
            text-indent: 30px;
            .transition(all 0.3s ease-in-out);
            &:after {
                left: 14px;
                .scaleX(-1);
            }
        }
        .dropdown-menu {
            left: 0px;
            .transition(left 0.3s ease-in-out 0s, box-shadow 0s ease-in-out 0s;
            );
            li {
                .transition( box-shadow 0s ease-in-out 0.3s;
                );
                .right-shadow()!important;
            }
        }
        .dropdown-submenu {
            //background-color: transparent!important;
            text-align: left;
            > a {
                position: relative;

                &:before {

                    @media (min-width: @grid-float-breakpoint) {
                        content: '';
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        margin-top: -13px;
                        background: url(/images/icon-right.png) no-repeat 0 0!important;
                        width: 15px;
                        height: 26px;
                    } 
                }
            }
        }
    }
    .nav {
        @media (max-width: @grid-float-breakpoint) {
            margin-top: 0px;
        }
    }
}
.off-canvas-nav.active {
    left: 0px;
}
.fullwidth-container.active {
    left: 80%;
}
.mobile-navigation {
    background-color: @green;
    height: 53px;
    .navbar-toggle {
        float: left;
        .icon-bar {
            background-color: #fff;
        }
    }
    .mobile-view-button {
        background: none;
        border: none;
        .glyphicon {
            color: #fff;
            font-size: 26px;
            line-height: 50px;
        }
        &:focus {
            outline: none;
            color: @green-med;
        }

        &.active{

            .glyphicon{
                color:@green-med;   
            }
           
            .icon-bar{
                background-color: @green-med;
            }
        }
    }
    .login-toggle {
        margin-right: 14%;
        .glyphicon {
            font-size: 23px;
        }
    }
    .navbar-toggle {
        margin-left: 14%;
    }
}
#mobile-login {
    background-color: @grey;
    text-align: center;
    .transition( height 0.4s ease,visible 0.4s ease;);
    height: 0px;

    ul{
        //.transition( height 0.3s ease);
        height:0px;
        display: none
    }

    a {
        color: #000;
        font-size: 17px;

    }
    .nav-right:first-of-type {
        border-right: 1px solid #000;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 13px;
        margin-bottom: 7px;
    }

    &.active{
        visibility: visible;
        height: 53px;
        .transition( height 0.4s ease);

        ul{
            height: auto;
            display: block;
        }
    }
}
/* Footer 
===============================================*/

#footer {
    color: #fff
}
.footer-lv-2 {
    color: #fff!important;
    @media (min-width: @grid-float-breakpoint) {
        padding-left: 35px!important;
        padding-right: 35px!important;
    }
    .subscriber-text {
        font-size: 22px;
        font-weight: bold;
        display: inline-block;
        padding-left: 42px;
        padding-right: 45px;
        position: relative;
        &:before {
            background: url(/images/quote-start.png) 0 0 no-repeat;
            content: '';
            position: absolute;
            top: 0px;
            width: 33px;
            height: 27px;
            left: 0px;
        }
        &:after {
            background: url(/images/quote-finish.png) 0 0 no-repeat;
            content: '';
            position: absolute;
            top: 2px;
            width: 33px;
            height: 27px;
            right: 0px;
        }
    }
}
.footer-lv-3 {
    color: @grey-dark;
    text-align: center;
    @media (min-width: @grid-float-breakpoint) {
        text-align: left;
    }
    .panel-links-footer {
        ul {
            list-style-type: none;
            padding-left: 0px;
        }
        h3 {
            font-size: 22px;
        }
        li, a {
            color: @grey-dark;
            font-size: 16px;
            font-weight: 300;
        }
    }
    #footer-lv-3__inner {
        padding: 10px 20px 20px;
    }
}
.panel-social {
    text-align: center;
    @media (min-width: @grid-float-breakpoint) {
        padding: 10px 35px 20px;
        text-align: left;
    }
    .panel-testimonial-sig {
        @media(min-width: @grid-float-breakpoint) {
            width: 20%!important;
        }
    }
}
.panel-email-subscription {
    @media(min-width: @grid-float-breakpoint) {
        width: 80%!important;
    }
}
.panel-social-icons-footer {
    padding-bottom: 30px;
    @media (min-width: @grid-float-breakpoint)and (max-width: @screen-lg) {
        padding-left: 0px;
        padding-right: 0px;
        li {
            padding-left: 0px;
        }
    }
    @media(min-width:@grid-float-breakpoint) {
        width: 25%!important;
        padding-bottom: 0px;
    }
    .footer-icon {
        .transition(all 0.3s ease-in-out);
        .opacity(1);
        &:hover {
            .opacity(0.7);
        }
    }
}
.panel-footer-logos {
    text-align: center;
    margin-top: 30px;
    @media(min-width: @grid-float-breakpoint) {
        text-align: left;
        margin-top: 0px;
    }
    .copyright {
        display: block;
        margin-top: 50px;
    }
    img {
        margin-bottom: 20px;
    }
}
.email-subscription-form {
    position: relative;
    font-size: 10px;
    .button {
        @media (max-width: @grid-float-breakpoint) {
            margin: 10px 0px 30px;
            border: 3px solid #fff;
        }
        @media (min-width: @grid-float-breakpoint) {
            position: absolute;
            top: 50%;
            margin-top: -22px;
            right: 5px;
            width: auto;
        }
        padding:0px 30px;
        font-weight: 300;
    }
    .large-text-input {
        font-size: 16px;
        border: none;
        @media (max-width: @grid-float-breakpoint) {
            width: 90%;
            margin: 30px auto 0px;
        }
    }
}
/* Button Modifiers
===============================================*/

.button--green {
    background-color: @green;
    border: none;
    .transition(all 0.3s ease-in-out);
    color: #fff;
    &:hover {
        background-color: darken(@green, 15%);
    }
}
.button--green--large {
    height: 44px;
    font-size: 22px;
}
.button--cta {
    padding: 12px 20px;
    font-size: 16px;
}



/* Community Template 
===============================================*/
.community-header-bg{
    background: url(/images/community-bg.jpg) no-repeat 0px -1px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:1px 0 0 0;
}

.hero-tabs{
    text-align:center;
    border-bottom: 2px solid @green;
    margin-top: 25px;

    > li{
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
        zoom:1; /* hasLayout ie7 trigger */
        border:0;
        margin-bottom: 0px;

        a{
            border-radius: 0;
            background-color: @grey;
            color:@grey-dark;
            font-size: 16px;
            border-bottom: 1px solid @green;
            border:0px;
            margin-right: 0px;
            font-weight: bold;

            &:hover{
                //border-bottom: 1px solid @green;
                border: 0px;
            }
        }
        

        &.active{
            > a,a:focus,a:hover{
                background-color:@green;    
                color:#fff;
                border:0;
                //border-bottom: 1px solid @green;
            }
            
        }
    }
}

.hero-tabs-content{

    .tab-pane{
        padding:10px 0 8px;    
    }       
}
   
.header-tags{
    text-align: center;

    li{
        a{
            font-weight: bold;
            padding:4px 10px;
            line-height: 1.4em;
            color:@grey-dark!important;
            font-size: 16px;
            display: inline-block;
            .transition(all 0.2s ease-in-out);

            &:hover{
                background-color: @green;
                color:#fff!important;
                text-decoration: none;
            }
        }
    }
}

.news-image-row{
    margin-bottom: @line-height-computed;

    &.news-active{
        background-color: #cdebd5;
        padding:8px 10px 10px 10px;

        .rd-highlight{
            margin-bottom: 5px;
            display: block;
        }
    }
}

.news-row{
   margin-top:@line-height-third;
   padding-top:@line-height-third;
   padding-bottom:  3px;
}

.panel-buying-guides{

    article{

    }
}

.panel-featured-review{
    position: relative;

    .article-title{
        margin-top:0px;
    }
}

.feature-quote{
    border:0;
    font-size: 30px;
    padding:0px;
    margin:0px;
    position: relative;
    text-indent: 35px;
    display: inline-block;

    span{
        display: inline-block;
    }

    &:before{
        position: absolute;
        left:0px;
        content: '';
        top:4px;
        background: url(/images/blockquote-start.png) no-repeat 0 0;
        width:30px;
        height: 30px;
    }

    span.end-quote{
        bottom:0px;
        background: url(/images/blockquote-end.png) no-repeat 0 0;
        width:30px;
        height: 30px;
        position: relative;
        margin-left: 20px;
        top:8px;
    }
}

.tab-lists{
    border-bottom: 1px solid @green;

   > li{
        a{
            font-size: @font-size-base;
            border-radius: 0;
            padding:10px;
            //border:1px solid @green;
            border-bottom: 0;
            color:@green;
        }

        /*&.active > a, li.active, li.active > a:focus{
            background-color: #fff!important;
           
        }*/

        &.active{
            > a,a:focus,a:hover{
                background-color:#fff;    
                border: 1px solid @green;
                color:#000;
                border-bottom-color: rgba(0, 0, 0, 0);
            }
            
        }

        //.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus 
    }
}

.panel-news-list-image{
    .button{
        margin-top: 0px;
    }
}

.panel-cta-join{
    cite{
        font-style: normal;
    }
}

.panel-vcard{
    .panel-title{
        margin-bottom: 5px;
    }
}

.panel-most-popular{
    .tab-lists{
        margin-top: 15px;
    }
}





/* Classes 
===============================================*/ 
.landmark{
    margin-bottom: 30px;
}

.landmark--half{
    margin-bottom: @line-height-half;
}

.button{
    padding:9px 0;
    font-size: 16px;
    line-height: @line-height-base;
    text-align: center;
    display: inline-block;
    margin-top: @line-height-half;

    &:hover{
        text-decoration: none;
        color:#fff;
    }
}

.button--medium{
    width:268px;
}

.button--large{
    width:100%
}

.header-title{
    font-size: 34px;
    font-weight: bold;
}

.panel-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: @line-height-half;
}

.panel-title--large{
    font-size: 24px;
    margin-bottom: @line-height-half;
}

.article-title{
    font-size: 24px;
    font-weight: normal;
    line-height: @line-height-base;
}

.title-border{
    border-bottom: 1px solid @green;
    padding-bottom: @line-height-third;
    margin-bottom: @line-height-half;
}

.title-info{
    position: absolute;
    top:4px;
    right:(@grid-gutter-width /2);
}

.border-tp{
    border-top: 1px solid @green;  
}

.list-no-bullet{
    list-style-type: none;
    padding-left:0px;
}

.form-control::-webkit-input-placeholder {
    color: #000000!important;
}

.circular-form-input {
    border-radius: 35px;
}

.large-text-input {
    height: 54px;
    @media (min-width: @grid-float-breakpoint) {
        font-size: 19px;
        padding-left: 30px;
    }
    font-weight: bold;
}

.date-time{
    color:#9d9d9d;
}

.blockquote-featured{
    padding:0px;
    margin:@line-height-half 0;
    border:0;
    font-size: @font-size-base;
}

.blockquote-featured-author{
    margin:@line-height-third 0 @line-height-half; 
    display: inline-block;   
}

.list-item-link{
    padding:0px;
    margin: 0px;
    font-size: @font-size-base;
    color:@grey-dark;
    .transition(all 0.2s ease);

    a{
        color:@grey-dark;
        //line-height: @line-height-half; 
        font-size: @font-size-base;   
        display: inline;
        line-height: @line-height-computed;
        .transition(all 0.2s ease);

        &:hover{
            color:@green;
            text-decoration: none;
        }
    }

    &:hover{
         color:@green;
         text-decoration: none;   
    }
}

.testimonial-sig {
    font-size: 16px;
    font-weight: bold;
}

.g-br {
    background-color: @green;
}

.gr-bg {
    background-color: #ebebeb;
}

.gr-lt-bg{
    background-color: @grey-light;
}

.border-gr-th{
    border:7px solid @green;
}

.container-pad {
    padding: 20px;
}
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: @green-med transparent transparent transparent;
}
.no-mar-lr {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.content {
    padding: 30px 20px;
    @media (min-width: @grid-float-breakpoint) {
        min-height: 800px;
    }
}
.gr-highlight {
    color: @green;
}
.rd-highlight{
    color:@red;
}
.right-shadow {
    .box-shadow( inset -10px 0px 10px -7px rgba(0, 0, 0, 0.5);
    );
}


/* Custom Grid 
===============================================*/

.container {
    @media(max-width: @grid-float-breakpoint) {
        padding: 0px;
        width:100%;
    }


}
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.container {}
